nav
  button(ng-click="view = 'mandates'") VIS MANDATER
  button(ng-click="view = 'percent'") VIS PROCENTER
party-chart
footer
  p Berlingske Barometer #[a(href="http://www.politiko.dk/barometeret") START]
